body {
  background-color: rgb(232, 232, 232);
  margin: 0;

  /* width: 1600px; */
  /* margin-left: auto; */
  /* margin-right: auto; */
}

header {
  font-family: Georgia, 'Times New Roman', serif;
  background-color: #7d7151;
  width: inherit;
  height: 150px;
}

.header {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.header h1 {
  width: 40%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.header h3 {
  width: 35%;
  margin-left: auto;
  margin-right: 0px;
  padding-top: 5px;
}

.header form {
  width: 40%;
  display: flex;
  margin-right: auto;
  margin-top: 10px;
}

.header select {
  height: 30px;
  margin-top: auto;
  margin-bottom: auto;
  border: solid 2px black;
  border-radius: 3px;
}

.flex-container {
  display: flex;
}

.label {
  text-align: center;
}

.rule-block{
  width: 30%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  display: inline;
  background-image: url('./img/rules.png');
  background-size: 100%;
  background-position: center top -20px;
}

.rule-label {
  text-align: center;
  text-decoration: underline;
  padding-top: 70px;
  margin-bottom: 10px;
}

.rule-text {
  text-align: justify;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 0px;
  font-family: Georgia, 'Times New Roman', serif;
}


.animation-block {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 15px;
  border: black 2px solid;
  overflow: hidden;
  height: 430px;
  position: relative;
}

.a-img {
  width: 100%;
  z-index: 0;
}

.a1-man {
  width: 120px;
  z-index: 1;
  position: relative;
  top: -210px;
  left: 43%;
  transform: scaleX(1);
  animation: animation-1 5s ease 0s forwards;
}

.a2-man {
  width: 120px;
  z-index: 1;
  position: relative;
  top: -220px;
  left: 43%;
  transform: scaleX(1);
  animation: animation-2 15s ease 2s infinite;
}

.light {
    position: absolute;
    transform: translate(246px, 122px);
}

.circle {
  height: 20px;
  width: 20px;
  border-radius: 15px;
  z-index: 1;
  position: relative;
  top: -520px;
  left: 43%;
}

.red {
  background-color: red;
  opacity: 1;
  animation: lighter-red 15s 2s infinite;
}

.yellow {
  background-color: yellow;
  opacity: 0;
  animation: lighter-yellow 15s 2s infinite;
}

.green {
  background-color: green;
  opacity: 0;
  animation: lighter-green 15s 2s infinite;
}

.car {
  width: 250px;
  position: absolute;
  bottom: 115px;
  left: 1200px;
  z-index: 2;
  animation: driver 15s 2s infinite;
}

.car2 {
  width: 250px;
  position: absolute;
  bottom: 65px;
  left: 1200px;
  z-index: 3;
  animation: driver2 15s 2s infinite;
}

@keyframes animation-1 {
  25% {
    transform: translate(0) scaleX(-1);
    width: 120px;
  }
  50% {
    transform: translate(-45px, -30px) scaleX(-1);
    width: 110px;
  }
  75% {
    transform: translate(-45px, -30px) scaleX(1);
    width: 110px;
  }
  to {
    transform: translate(-90px, -60px) scaleX(1);
    width: 100px;
  }
}

@keyframes animation-2 {
  15% {
    transform: translate(0) scaleX(-1);
  }
  40% {
    transform: translate(0) scaleX(1);
    width: 120px;
  }
  90% {
    transform: translate(-90px, -60px);
    width: 100px;
  }
  to {
    transform: translate(-90px, -60px);
    width: 100px;
  }
}

@keyframes lighter-red {
  from {
    opacity: 1;
  }
  29% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  79% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}

@keyframes lighter-yellow {
  from {
    opacity: 0;
  }
  12% {
    opacity: 0;
  }
  13% {
    opacity: 1;
  }
  29% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  69% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  79% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
}

@keyframes lighter-green {
  from {
    opacity: 0;
  }
  29% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  54% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  59% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  64% {
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  69% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
}

@keyframes driver {
  from {
    transform: translateX(+200%);
  }
  30% {
    transform: translateX(-300%);
  }
  80% {
    transform: translateX(-300%);
  }
  to {
    transform: translateX(-600%);
  }
}

@keyframes driver2 {
  from {
    transform: translateX(+200%);
  }
  50% {
    transform: translateX(-270%);
  }
  85% {
    transform: translateX(-270%);
  }
  to {
    transform: translateX(-650%);
  }
}

.footer {
  background-color: #7d7151;
  display: flex;
  width: inherit;
  font-weight: bold;
  padding-top: 100px;
}

.footer div {
  height: 100px;
}

.footer hr {
  width: 45%;
  height: 2px;
  color: white;
  background-color: white;
  margin-top: auto;
  margin-bottom: auto;
}

footer p {
  color: white;
}
